<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link  rel="stylesheet" type="text/css" href="/lib/main.css">

</head>

<body>
  <div class="container" id="InfoContainer">  
    <h2>Identity check</h2>
    <p>Name: <%= data['full_name'] %></p>
    <p>DOB: <%= data['date_of_birth'] %></p>
    <p>Nationality: <%= data['nationality'] %></p>
    <p>Doc Number: <%= data['document_number'] %></p>
    <img src="<%= image %>" style="height: 300px; width: 500px;">
</div>
  <script>
      
  </script>
</body>
</html>